<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Resend confirmation instructions</span></h2>
  </div>
  <div class="content">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.submit "Resend confirmation instructions" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
