<% title "Catálogo" %>

<h2>Categorías destacadas</h2>

<% if Product.new_arrivals.any? %>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <li id="new_arrivals">
      <h3><%= link_to "Últimas novedades", new_arrivals_products_path %></h3>
      <p class="text-center">
        <%= link_to(
          image_tag(Product.new_arrivals.first.picture_url(:small), :alt => "Novedades"),
          new_arrivals_products_path
        ) %>
      </p>
      <p>
        Esté atento a las últimas novedades añadidas a la web.
      </p>
    </li>
  </ul>
<% end %>

<h2>Todas las categorías</h2>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @categories.each do |category| %>
    <%= content_tag_for :li, category do %>
      <h3><%= link_to category.name, category_products_path(category) %></h3>
      <p class="text-center">
        <%= link_to(
          image_tag(category.picture_url(:small), :alt => category.name),
          category_products_path(category)
        ) %>
      </p>
      <p>
        <%= truncate category.description, length: 200 %>
      </p>
    <% end %>
  <% end %>
</ul>

<%= paginate @categories %>
