<div id="top-header" class="container">
  <div id="logo">
    <h1><%= link_to "Cerámica Padilla Padilla", root_path %></h1>
  </div>
  <div id="top-banner">
    <div id="colA">
      <h2>Cerámica Padilla Padilla</h2>
      <p class="byline">Cerámica artística pintada a mano</p>
      <p class="byline phone-number">Ll&aacute;menos al tel&eacute;fono 953 678 087</p>
      <p class="link"><%= link_to "Consulte nuestro catálogo", categories_path %></p>
    </div>
    <div id="colB">
      <p>
        <%= link_to_unless_current "Español",  params.merge(:locale => "es") %> |
        <%= link_to_unless_current "English",  params.merge(:locale => "en") %> |
        <%= link_to_unless_current "Français", params.merge(:locale => "fr") %>
      </p>
      <% if user_signed_in? %>
        <p>Bienvenido, <%= truncate current_user.email, :length => 18 %>.</p>
        <p><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></p>
      <% else %>
        <p>Bienvenido a nuestra web.</p>
        <p>
          <%= link_to "Inicie sesión"  , new_user_session_path %> o
          <%= link_to "cree una cuenta", new_user_registration_path %>
        </p>
      <% end %>
      <%= mail_to "fabrica@ceramicapadilla.es", "Hacer pedido", :subject => "[Pedido Web] Pedido", :encode => "hex", :class => "viewcart" %>
    </div>
  </div>
</div>
