<div id="top-header" class="container">
  <div id="logo">
    <h1><%= link_to "Cerámica Padilla Padilla", pages_home_url %></h1>
  </div>
  <div id="top-banner">
    <div id="colA">
      <h2>Cerámica Padilla Padilla</h2>
      <p class="byline">Cerámica artística pintada a mano</p>
      <p class="link"><%= link_to "Consulte nuestro catálogo", categories_path %></p>
    </div>
    <div id="colB">
      <% if user_signed_in? %>
        <p>Bienvenido, <%= current_user.email %>.</p>
        <p><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></p>
      <% else %>
        <p>Bienvenido, usuario anónimo.</p>
        <p>
          <%= link_to "Inicie sesión"  , new_user_session_path %> o
          <%= link_to "cree una cuenta", new_user_registration_path %>
        </p>
      <% end %>
    </div>
  </div>
</div>
