<div id="top-header" class="container">
  <div id="logo">
    <h1><%= link_to "Cerámica Padilla Padilla", root_path %></h1>
  </div>
  <div id="top-banner">
    <div id="colA">
      <h2>Cerámica Padilla Padilla</h2>
      <p class="byline">Cerámica artística pintada a mano</p>
      <p class="byline phone-number">Ll&aacute;menos al tel&eacute;fono 953 678 087</p>
      <p class="link"><%= link_to "Consulte nuestro catálogo", categories_path %></p>
    </div>
    <div id="colB">
      <% if user_signed_in? %>
        <p>Bienvenido, <%= truncate current_user.email, :length => 20 %>.</p>
        <p><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></p>
      <% else %>
        <p>Bienvenido a nuestra web.</p>
        <p>
          <%= link_to "Inicie sesión"  , new_user_session_path %> o
          <%= link_to "cree una cuenta", new_user_registration_path %>
        </p>
      <% end %>
      <a class="viewcart" href="mailto:&#102;&#097;&#098;&#114;&#105;&#099;&#097;&#064;&#099;&#101;&#114;&#097;&#109;&#105;&#099;&#097;&#112;&#097;&#100;&#105;&#108;&#108;&#097;&#046;&#101;&#115;?subject=[Pedido Web] Pedido">Hacer pedido</a>
    </div>
  </div>
</div>
