<div id="top-header" class="container">
  <div id="logo">
    <h1><%= link_to t(".title"), localized_root_path %></h1>
  </div>
  <div id="top-banner">
    <div id="colA">
      <h2><%= t ".title" %></h2>
      <p class="byline"><%= t ".subtitle" %></p>
      <p class="byline phone-number"><%= t ".call_us", :phone_number_prefix => "+34 ", :phone_number => "953 678 087" %></p>
      <p class="link"><%= link_to t(".check_catalog"), categories_path %></p>
    </div>
    <div id="colB">
      <p>
        <%= link_to_locale "Español",  :es %> |
        <%= link_to_locale "English",  :en %> |
        <%= link_to_locale "Français", :fr %>
      </p>
      <% if user_signed_in? %>
        <p><%= t ".welcome_user", :user_name => truncate(current_user.email, :length => 18) %></p>
        <p><%= link_to t(".logout"), destroy_user_session_path, :method => :delete %></p>
      <% else %>
        <p><%= t ".welcome_annonymous" %></p>
        <p>
          <%=
            t ".login_or_signup_html",
              :login => link_to(t(".login") , new_user_session_path),
              :signup => link_to(t(".signup"), new_user_registration_path)
          %>
        </p>
      <% end %>
      <%= mail_to "fabrica@ceramicapadilla.es", t(".place_order"), :subject => t(".order_subject"), :encode => "hex", :class => "viewcart" %>
    </div>
  </div>
</div>
