<div id="top-header" class="container">
  <div id="logo">
    <h1><%= link_to "Cerámica Padilla Padilla", pages_home_url %></h1>
  </div>
  <div id="top-banner">
    <div id="colA">
      <h2>Cerámica Padilla Padilla</h2>
      <p class="byline">Cerámica artística pintada a mano</p>
      <p class="link"><%= link_to "Consulte nuestro catálogo", categories_path %></p>
    </div>
    <div id="colB">
      <p>
        <% if user_signed_in? %>
          Bienvenido, <%= current_user.email %>.
          <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Inicia sesión", new_user_session_path %> o
          <%= link_to "regístrate"   , new_user_registration_path %>
        <% end %>
      </p>
      <p><a href="#" class="viewcart">Ver Carrito (3)</a></p>
    </div>
  </div>
</div>
