<div id="header" class="container">
  <div id="menu">
    <ul>
      <li<% if active_tab?("home") %> class="active"<% end %>><%= link_to content_tag(:span, "Home"), root_path %></li>
      <li<% if active_tab?("categories") %> class="active"<% end %>><%= link_to content_tag(:span, "Categories"), categories_path %></li>
      <li<% if active_tab?("brands") %> class="active"<% end %>><%= link_to content_tag(:span, "Brands"), pages_brands_path %></li>
      <li<% if active_tab?("cs") %> class="active"<% end %>><%= link_to content_tag(:span, "Customer Service"), pages_cs_path %></li>
      <li<% if active_tab?("info") %> class="active"<% end %>><%= link_to content_tag(:span, "Information"), pages_info_path %></li>
      <li<% if active_tab?("contact") %> class="active"<% end %>><%= link_to content_tag(:span, "Contact Us"), pages_contact_path %></li>
    </ul>
  </div>
  <div id="search">
    <form method="get" action="">
      <fieldset>
        <input type="text" name="query" value="" class="input-text" />
      </fieldset>
    </form>
  </div>
</div>
