<div id="sidebar">
  <div id="box1" class="box-style">
    <div class="title">
      <h2><span>Categorías destacadas</span></h2>
    </div>
    <div class="content">
      <ul>
        <li><%= link_to "Últimas novedades (#{Product.new_arrivals.count})", new_arrivals_path %></li>
        <li><%= link_to "Búsqueda 'cazuelas' (#{Product.accessible_by(current_ability).search('cazuelas').count})", search_products_path(:q => 'cazuelas') %></li>
        <li><%= link_to "Decoración 'Retro verde' (#{Product.accessible_by(current_ability).with_decoration('green_retro').count})", search_products_path(:decoration_code => 'green_retro') %></li>
      </ul>
      <p><%= link_to "Ver todas las categorías", categories_path, :class => "link1" %></p>
    </div>
  </div>
  <div id="box2" class="box-style">
    <div class="title">
      <h2><span>Otras categorías</span></h2>
    </div>
    <div class="content">
      <ul>
        <% Category.order(:position).all.each do |category| %>
          <li><%= link_to "#{category.name} (#{category.products.accessible_by(current_ability).count})", category_products_path(category) %></li>
        <% end %>
      </ul>
    </div>
    <div class="title" style="margin-top: 20px;">
      <h2><span>Decoraciones</span></h2>
    </div>
    <div class="content">
      <ul>
        <% Decoration::DECORATIONS.each do |decoration_code, decoration_name| %>
          <li><%= link_to "#{decoration_name} (#{Product.accessible_by(current_ability).with_decoration(decoration_code).count})", search_products_path(:decoration_code => decoration_code) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
