<div id="sidebar">
  <div id="box1" class="box-style">
  <% cache [ I18n.locale, sidebar_highlighted_categories_cache_key ] do %>
    <div class="title">
      <h2><span><%= t ".highlighted_categories" %></span></h2>
    </div>
    <div class="content">
      <ul>
        <li><%= link_to t(".new_arrivals", count: Product.new_arrivals.count), new_arrivals_products_path %></li>
        <li><%= link_to_search_products "cuencos y ensaladeras" %></li>
        <li><%= link_to_search_products "macetas" %></li>
        <li><%= link_to_search_products "cazuelas" %></li>
      </ul>
      <p><%= link_to t(".see_all_categories"), categories_path, :class => "link1" %></p>
    </div>
  <% end %>
  </div>
  <div id="box2" class="box-style">
  <% cache [ I18n.locale, sidebar_all_categories_cache_key ] do %>
    <div class="title">
      <h2><span><%= t ".all_categories" %></span></h2>
    </div>
    <div class="content">
      <ul>
        <% Category.order(:position).each do |category| %>
          <li><%= link_to "#{category.name} (#{Product.where(:category_id => category).count})", category_products_path(category) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% cache [ I18n.locale, sidebar_decorations_cache_key ] do %>
    <div class="title decorations">
      <h2><span><%= t ".decorations" %></span></h2>
    </div>
    <div class="content">
      <% Decoration.all_including_products_count.group_by(&:tag).each do |decoration_tag, decorations| %>
        <h3 class="decorations-list"><%= t ".decoration_name", name: Decoration.human_tag_name(decoration_tag) %></h3>
        <ul class="decorations">
          <% decorations.each_with_index do |decoration, idx| %>
            <li class="decoration <%= "hideable" if idx > 4 %>"><%= link_to "#{decoration.name} (#{decoration.products_count})", search_products_path(:decoration_tag => decoration.tag, :decoration_code => decoration.code) %></li>
          <% end %>
          <li><%= link_to t(".see_more"), "#", :class => "link2 toggle-hideables", :data => { :toggled_text => t(".see_less") } %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
