<div id="sidebar">
  <div id="box1" class="box-style">
    <div class="title">
      <h2><span>Categorías destacadas</span></h2>
    </div>
    <div class="content">
      <ul>
        <li><%= link_to "Últimas novedades (#{Product.new_arrivals.count})", new_arrivals_path %></li>
        <li><%= link_to_search_products "cuencos y ensaladeras" %></li>
        <li><%= link_to_search_products "macetas" %></li>
        <li><%= link_to_search_products "cazuelas" %></li>
      </ul>
      <p><%= link_to "Ver todas las categorías", categories_path, :class => "link1" %></p>
    </div>
  </div>
  <div id="box2" class="box-style">
    <div class="title">
      <h2><span>Todas las categorías</span></h2>
    </div>
    <div class="content">
      <ul>
        <% Category.order(:position).all.each do |category| %>
          <li><%= link_to "#{category.name} (#{accessible_products.where(:category_id => category).count})", category_products_path(category) %></li>
        <% end %>
      </ul>
    </div>
    <div class="title decorations">
      <h2><span>Decoraciones</span></h2>
    </div>
    <div class="content">
      <% Decoration.all.group_by(&:tag).each do |decoration_tag, decorations| %>
        <h3 class="decorations-list">Decoraciones de <%= Decoration.human_tag_name decoration_tag %></h3>
        <ul class="decorations">
          <% decorations.each_with_index do |decoration, idx| %>
            <% products = accessible_products.with_decoration(decoration) %>
            <li class="decoration <%= "hideable" if idx > 4 %>"><%= link_to "#{decoration.name} (#{products.count})", search_products_path(:decoration_tag => decoration.tag, :decoration_code => decoration.code) %></li>
          <% end %>
          <li><%= link_to "Ver más", "#", :class => "link2 toggle-hideables", :data => { :toggled_text => "Ver menos" } %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
