<div id="sidebar">
  <div id="box1" class="box-style">
    <div class="title">
      <h2><span>Categorías</span></h2>
    </div>
    <div class="content">
      <ul>
        <% Category.all.each do |category| %>
          <li><%= link_to "#{category.name} (#{category.products.accessible_by(current_ability).count} productos)", category_products_path(category) %></li>
        <% end %>
      </ul>
      <p><%= link_to "Ver todas las categorías", categories_path, :class => "link1" %></p>
    </div>
  </div>
  <div id="box2" class="box-style">
    <div class="title">
      <h2><span>Popular Categories</span></h2>
    </div>
    <div class="content">
      <ul>
        <li><%= link_to "Aliquam sit lorem nunc nisl", categories_path %></li>
        <li><%= link_to "Velit vivamus volutpat quam dui", categories_path %></li>
        <li><%= link_to "Vestibulum fusce tor pharetra", categories_path %></li>
        <li><%= link_to "Elit in volutpat et tempor praesent", categories_path %></li>
        <li><%= link_to "Vehicula a lacus fringilla", categories_path %></li>
        <li><%= link_to "Cubilia lorem blandit dolor", categories_path %></li>
        <li><%= link_to "Aliquam sit tempor lorem nunc nisl", categories_path %></li>
        <li><%= link_to "Velit vivamus quam dui", categories_path %></li>
      </ul>
    </div>
  </div>
</div>
