<%= title "Nuestro entorno" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Nuestro entorno</span></h2>
  </div>
  <div class="content">
    <h3>Castillo de Burgalimar</h3>
    <%= image_tag "burgalimar-castle.jpg", :alt => "Castillo de Burgalimar", :title => "Castillo de Burgalimar" %>
    <p>
    El Castillo de Burgalimar (del árabe Bury al-Hamma, "Castillo de los Baños"), es una fortaleza omeya, construida en el siglo X sobre un pequeño cerro que domina la localidad de Baños de la Encina, situada al norte de la provincia de Jaén (Andalucía, España).
    <br/>
    Rodeado y flanqueado por una robusta y almenada muralla con catorce torres, más una decimoquinta Torre del Homenaje de factura cristiana, el castillo apenas ha sufrido daños, ya sean causados por el tiempo o la acción humana. Representa por tanto un ejemplo perfecto de fortaleza musulmana del siglo X, y constituye el conjunto fortificado mejor preservado de la época del Califato de Córdoba, al mismo tiempo que es uno de los castillos musulmanes mejor conservados de toda España. Su inestimable valor histórico y artístico es la razón por la que este castillo llegó a ser declarado como Monumento Nacional.
    </p>

    <h3>Embalse del rumblar</h3>
    <%= image_tag "embalse-del-rumblar.jpg", :alt => "Embalse del Rumblar", :title => "Embalse del Rumblar" %>
    <p>
    El Embalse del Rumblar se encuentra en la localidad jiennense de Baños de la Encina.
    <br/>
    Los objetivos del embalse son los siguientes:<br/>
      - Riego<br/>
      - Abastecimiento<br/>
      - Regulación general<br/>
      - Control de avenidas<br/>
      - Producción de energía eléctrica<br/>
    </p>

    <h3>Baeza</h3>
    <%= image_tag "baeza.jpg", :alt => "Baeza", :title => "Baeza" %>
    <p>
    En la foto aparece la monumental fuente de Sta. María, y tras ella, la Catedral.
    <br/>
    La Fuente de Santa María de Baeza se levanta en esta ciudad en el año 1564, en el centro de la plaza de su mismo nombre.
    <br/>
    Construida según el diseño del arquitecto renacentista local Ginés Martín de Aranda, hoy está considerado como uno de los elementos más emblemáticos de la arquitectura urbana de la ciudad y de la propia plaza donde se ubica. 
    <br/>
    Esta fuente es un magnífico elemento renacentista formado por un pilar de planta lobulado, en cuyo interior de eleva un arco de triunfo con cartelas conmemorativas, compuesto por tres vanos, el central curvo abovedado y los laterales rectos adintelados, y dos cuerpos de altura. En el superior, rematado por un frontón clásico, figuran los escudos de la ciudad de Baeza y de Felipe II, flanqueados por cariátides y atlantes
    </p>

    <h3>Úbeda</h3>
    <%= image_tag "ubeda.jpg", :alt => "Úbeda", :title => "Úbeda" %>
    <p>
    La Plaza Vázquez de Molina es una plaza situada en la localidad de Úbeda, en la provincia de Jaén, constituye uno de los mejores ejemplos de urbanismorenacentista que existen en España. Éste ha sido uno de los motivos para que esta plaza, junto con parte del conjunto monumental de Baeza fuesen declarados el 3 de julio de 2003 Patrimonio de la Humanidad por la Unesco.
    <br/>
    La plaza se encuentra configurada como la unión de varios espacios que le dan un conjunto trapezoidal, es un lugar arrogante y autoafirmativo cuyas perspectivas, encuadres y estampas se hallan en las esquinas de tantas calles como llegan hasta ella. La idea referencia, no obstante, la establece la Sacra Capilla de El Salvador del Mundo, el mayor mausoleo civil construido en España. Antiguamente se la conocía como Llano de Santa Maria y como Paseo de Santa Maria en el siglo XIX. Es el lugar ideal para comenzar un itinerario turístico por la monumental ciudad de Úbeda.
    </p>
  </div>
</div>
