<% title "Home" %>

<div id="two-columns">
	<div id="column1">
		<div id="box3" class="box-style">
      <% cache [ I18n.locale, "home_featured_products" ], expires_in: 1.hour, race_condition_ttl: 10 do %>
      <div class="title" data-generated-at="<%= Time.current.to_s(:db) %>">
				<h2><span>Highlighted products</span></h2>
			</div>

      <% @products.each do |product| %>
        <%= div_for product, :class => "item-box hproduct" do %>
          <h2 class="fn"><%= link_to product.name, category_products_path(product.category, :anchor => product.to_param) %></h2>
          <div><%= link_to(
            image_tag(product.picture_url(:small), :class => "alignleft photo", :alt => product.name),
            category_products_path(product.category, :anchor => product.to_param)
          ) %></div>
          <div class="clearfix"></div>
          <p>In the <%= link_to product.category.name, category_products_path(product.category), :class => "category" %> category</p>
          <%= simple_format product.description, :class => "description" %>
        <% end %>
      <% end%>

			<div class="content">
				<p><%= link_to "See more products", categories_path, :class => "link1 big" %></p>
			</div>
      <% end%>
		</div>
	</div>
	<div id="column2">
		<div id="box4" class="box-style">
			<div class="title">

        <h2><span>More Info</span></h2>
        <div class="content">
          <ul>
            <li>
              <h3><%= link_to "Decoration of a pot", pages_pot_path %></h3>
              <p>
                <%= link_to pages_pot_path do %>
                  <%= image_tag "right-sidebar/maceta.jpg" %>
                <% end %>
              </p>
              <p>See how we paint by hand a plant pot to decorate your house.</p>
            </li>
            <li>
              <h3><%= link_to "How we work", pages_how_we_work_path %></h3>
              <p>
                <%= link_to pages_how_we_work_path do %>
                  <%= image_tag "right-sidebar/como-trabajamos.jpg" %>
                <% end %>
              </p>
              <p>Discover how we build and paint our products by hand.</p>
            </li>
            <li>
              <h3><%= link_to "Production of a 'botijo'", pages_botijo_path %></h3>
              <p>
                <%= link_to pages_botijo_path do %>
                  <%= image_tag "right-sidebar/botijo.jpg" %>
                <% end %>
              </p>
              <p>Discover how we hand craft a 'botijo', a typical Spanish jug that keeps water cool.</p>
            </li>
            <li>
              <h3><%= link_to "Our environment", pages_environment_path %></h3>
              <p>
                <%= link_to pages_environment_path do %>
                  <%= image_tag "right-sidebar/environment.jpg" %>
                <% end %>
              </p>
              <p>You can find beautiful landscapes near us, and visit towns and monuments that are declared world heritage.</p>
            </li>
          </ul>
        </div>

			</div>
		</div>
	</div>
</div>
