<% title "Inicio" %>

<div id="two-columns">
	<div id="column1">
		<div id="box3" class="box-style">
			<div class="title">
				<h2><span>Productos destacados</span></h2>
			</div>

      <% @products.each do |product| %>
        <%= div_for product, :class => "item-box hproduct" do %>
          <h2 class="fn"><%= link_to product.name, category_products_path(product.category, :anchor => product.to_param) %></h2>
          <div><%= link_to(
            image_tag(product.picture_url(:small), :class => "alignleft photo", :alt => product.name),
            category_products_path(product.category, :anchor => product.to_param)
          ) %></div>
          <div class="clearfix"></div>
          <p>En la categoría de <%= link_to product.category.name, category_products_path(product.category), :class => "category" %></p>
          <%= simple_format product.description, :class => "description" %>
        <% end %>
      <% end%>

			<div class="content">
				<p><%= link_to "Ver más productos", categories_path, :class => "link1 big" %></p>
			</div>
		</div>
	</div>
	<div id="column2">
		<div id="box4" class="box-style">
			<div class="title">

        <h2><span>Más Información</span></h2>
        <div class="content">
          <ul>
            <li>
              <h3><%= link_to "Decoración de una maceta", pages_pot_path %></h3>
              <p>
                <%= link_to pages_pot_path do %>
                  <%= image_tag "right-sidebar/maceta.jpg" %>
                <% end %>
              </p>
              <p>Mire cómo pintamos a mano una maceta para decorar su hogar.</p>
            </li>
            <li>
              <h3><%= link_to "Cómo trabajamos", pages_how_we_work_path %></h3>
              <p>
                <%= link_to pages_how_we_work_path do %>
                  <%= image_tag "right-sidebar/como-trabajamos.jpg" %>
                <% end %>
              </p>
              <p>Descubra cómo construimos y pintamos nuestros productos a mano.</p>
            </li>
            <li>
              <h3><%= link_to "Elaboración de un botijo", pages_botijo_path %></h3>
              <p>
                <%= link_to pages_botijo_path do %>
                  <%= image_tag "right-sidebar/botijo.jpg" %>
                <% end %>
              </p>
              <p>Descubra cómo elaboramos un botijo de forma artesanal.</p>
            </li>
            <li>
              <h3><%= link_to "Nuestro entorno", pages_environment_path %></h3>
              <p>
                <%= link_to pages_environment_path do %>
                  <%= image_tag "right-sidebar/environment.jpg" %>
                <% end %>
              </p>
              <p>Cerca de nosotros puede encontrar bellos paisajes naturales, así como visitar ciudades y monumentos patrimonio de la humanidad.</p>
            </li>
          </ul>
        </div>

			</div>
		</div>
	</div>
</div>
