<%= title "Qui sommes-nous ?" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Qui sommes-nous ?</span></h2>
  </div>
  <div class="content">
    <p>Cerámica Padilla Padilla est une usine de fabrication artisanale de Bailén, qui se poursuit de père en fils, maintenant dans sa cinquième génération, spécialisée depuis plus de 200 ans dans la fabrication de céramique artistique à differents usages.</p>
    <%= image_tag "fachada-ceramica-padilla.jpg", :alt => "Façade de l'usine de cerámica padilla padilla" %>
    <p>Cerámica Padilla Padilla est aujourd'hui présente sur tout le marché espagnol et à l'international, répondant à tous les besoins de ses clients grâce à ses trois gammes de produits et à la possibilité de réaliser des commandes spéciales, exclusives et personnalisées.</p>
    <dl>
      <dt>Décoration</dt> <dd>Articles de cuisine et de décoration de table peints à la main.</dd>
      <dt>Vaisselle</dt>  <dd>Ustensiles de cuisine, résistants au feu, au four traditionnel et au micro-ondes.</dd>
      <dt>Jardin</dt>     <dd>Pots d'intérieur et d'extérieur peints à la main.</dd>
    </dl>
    <%= image_tag "horno-ceramica-padilla.jpg", :alt => "Four de l'usine cerámica padilla padilla", :style => "margin-top: 12px" %>
    <p>Si vous voulez en savoir plus, vous pouvez consulter <%= link_to "où sommes-nous", pages_where_path %>, ou obtenir plus d'information sur <%= link_to "notre environnement", pages_environment_path %>.
  </div>
</div>
