<%= title "Who are we?" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Who are we?</span></h2>
  </div>
  <div class="content">
    <p>Cerámica Padilla Padilla is an artisan factory from Bailén, from father to son, now in its fifth generation, for over 200 years in the manufacture of ceramic art for different uses.</p>
    <%= image_tag "fachada-ceramica-padilla.jpg", :alt => "Facade of the factory of cerámica padilla padilla" %>
    <p>Currently provides domestic and international markets, meeting its three ranges widely with any need. Also availability for special jobs, exclusive and personalized.</p>
    <dl>
      <dt>Household</dt> <dd>Cookware and tableware decorated by hand.</dd>
      <dt>Culinary</dt>  <dd>Cooking pots and pieces, fire, oven and microwave resistant.</dd>
      <dt>Gardening</dt> <dd>Indoor and outdoor pots painted manually.</dd>
    </dl>
    <%= image_tag "horno-ceramica-padilla.jpg", :alt => "Oven of the factory of cerámica padilla padilla", :style => "margin-top: 12px" %>
    <p>If you want to know more about us, you can check <%= link_to "where are we", pages_where_path %>, or get information about <%= link_to "our environment", pages_environment_path %>.
  </div>
</div>
