<% title "Contacte con nosotros" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Contacte con nosotros</span></h2>
  </div>
  <div class="content">
    <p>
    Puede contactar con nosotros a través de los siguientes medios:
    </p>
    <dl>
      <dt style="display: block; float: left; width: 80px; font-weight: bold;">Teléfono</dt> <dd>953 678 087</dd>
      <dt style="display: block; float: left; width: 80px; font-weight: bold;">Fax</dt>      <dd>953 670 902</dd>
      <dt style="display: block; float: left; width: 80px; font-weight: bold;">e-mail</dt>   <dd><a href="mailto:&#102;&#097;&#098;&#114;&#105;&#099;&#097;&#064;&#099;&#101;&#114;&#097;&#109;&#105;&#099;&#097;&#112;&#097;&#100;&#105;&#108;&#108;&#097;&#046;&#101;&#115;">&#102;&#097;&#098;&#114;&#105;&#099;&#097;&#064;&#099;&#101;&#114;&#097;&#109;&#105;&#099;&#097;&#112;&#097;&#100;&#105;&#108;&#108;&#097;&#046;&#101;&#115;</a></dd>
    </dl>
    <p style="margin-top: 30px;">
    <% if user_signed_in? %>
      O si lo prefiere, puede rellenar el siguiente formulario:
    <% else %>
      O si lo prefiere, <%= link_to "inicie sesión", new_user_session_path %> y rellene el siguiente formulario:
    <% end %>
    </p>

    <%= form_for @contact do |f| %>
      <p>
      <%= f.label :subject, "Asunto" %><br/>
      <%= f.select :subject, Contact::SUBJECTS, { :prompt => "Por favor, elija el motivo de su consulta" }, :disabled => ! user_signed_in? %>
      </p>
      <p>
      <%= f.label :body, "Mensaje" %><br/>
      <%= f.text_area :body, :disabled => ! user_signed_in? %>
      </p>
      <p>
      <%= f.submit "Enviar", :disabled => ! user_signed_in? %>
      </p>
    <% end %>
  </div>
</div>
