<% title t ".title" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span><%= t ".title" %></span></h2>
  </div>
  <div class="content">
    <p>
    <%= t ".intro" %>
    </p>
    <dl>
      <dt><%= t ".phone" %></dt> <dd>953 678 087</dd>
      <dt><%= t ".fax" %></dt>   <dd>953 670 902</dd>
      <dt><%= t ".email" %></dt> <dd><%= mail_to "fabrica@ceramicapadilla.es", nil, :encode => "hex" %></dd>
    </dl>
    <p class="fill-contact-us-form">
    <% if user_signed_in? %>
      <%= t ".fill_form" %>
    <% else %>
      <%= t ".login_and_fill_form_html", :login => link_to(t(".login"), new_user_session_path) %>
    <% end %>
    </p>

    <%= form_for @contact do |f| %>
      <p>
      <%= f.label :subject %><br/>
      <%= f.select :subject, Contact.subjects, { :prompt => t(".subject_prompt") }, :disabled => ! user_signed_in? %>
      </p>
      <p>
      <%= f.label :body %><br/>
      <%= f.text_area :body, :disabled => ! user_signed_in? %>
      </p>
      <p>
      <%= f.submit t(".submit"), :disabled => ! user_signed_in? %>
      </p>
    <% end %>
  </div>
</div>
