<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Cerámica Padilla Padilla", localized_root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li<% if active_tab?("categories") %> class="active"<% end %>><%= link_to t(".categories"), categories_path %></li>
      <li<% if active_tab?("who") %> class="active"<% end %>><%= link_to t(".who"), pages_who_path %></li>
      <li<% if active_tab?("where") %> class="active"<% end %>><%= link_to t(".where"), pages_where_path %></li>
      <li<% if active_tab?("contact") %> class="active"<% end %>><%= link_to t(".contact"), new_contact_path %></li>
    </ul>

    <ul class="right">
      <li class="has-dropdown">
        <a href="#"><%= t ".more" %></a>
        <ul class="dropdown">
          <li class="has-dropdown">
            <a href="#"><%= t ".language" %></a>
            <ul class="dropdown">
              <li><%= link_to "Español",  params.merge(locale: :es) %></li>
              <li><%= link_to "English",  params.merge(locale: :en) %></li>
              <li><%= link_to "Français", params.merge(locale: :fr) %></li>
            </ul>
          </li>
          <li>
            <%= link_to t(".search"), search_products_path(q: "") %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to t(".login"), new_user_session_path %>
            <% end %>
          </li>
          <li>
            <%= link_to t(".desktop_version"), params.merge(mobile: 0) %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
