<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Cerámica Padilla Padilla", localized_root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li<% if active_tab?("categories") %> class="active"<% end %>><%= link_to "Catálogo", categories_path %></li>
      <li<% if active_tab?("who") %> class="active"<% end %>><%= link_to "¿Quiénes somos?", pages_who_path %></li>
      <li<% if active_tab?("where") %> class="active"<% end %>><%= link_to "¿Dónde estamos?", pages_where_path %></li>
      <li<% if active_tab?("contact") %> class="active"<% end %>><%= link_to "Contacte con nosotros", new_contact_path %></li>
    </ul>

    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Más opciones</a>
        <ul class="dropdown">
          <li class="has-dropdown">
            <a href="#">Idioma</a>
            <ul class="dropdown">
              <li><%= link_to "Español",  params.merge(locale: :es) %></li>
              <li><%= link_to "English",  params.merge(locale: :en) %></li>
              <li><%= link_to "Français", params.merge(locale: :fr) %></li>
            </ul>
          </li>
          <li>
            <%= link_to "Buscar...", search_products_path(q: "") %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Iniciar sesión", new_user_session_path %>
            <% end %>
          </li>
          <li>
            <%= link_to "Ver como en el ordenador", params.merge(mobile: 0) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= mail_to "fabrica@ceramicapadilla.es", "Hacer pedido", subject: "[Pedido Web] Pedido", encode: "hex" %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
