<% title       @category.name %>
<% description @category.description %>

<h2><%= @category.name %></h2>

<% cache_category_products(@category) do %>
<% if @products.any? %>
  <ul id="products" class="clearing-thumbs" data-clearing>
    <%= render partial: "product", collection: @products, as: :product %>
  </ul>
<% else %>
  <p>Lo sentimos, no se ha encontrado ningún producto en la categoría <%= @category.name %></p>
<% end %>

<%= simple_format @category.description if @category.description.present? %>

<% if @products.any? %>
  <p>
    Pulse sobre una foto para verla más grande. Podrá cambiar de foto arrastrando con el dedo. Para salir pulse en la x.
  </p>
<% end %>
<% end %>

<p><%= link_to "Volver al catálogo", categories_path, class: "button radius expand" %></p>
