<% title @product.name %>
<% description @product.description %>

<h2><%= @product.name %></h2>

<p>
  <%= image_tag @product.picture_url %>
</p>

<% if @product.decoration.exists? || @category.decorations.any? %>
  <p>
    <% if @product.decoration.exists? %>
      <strong>La decoración de la foto es <%= link_to_decoration @product.decoration %>.</strong>
    <% end %>
    <% if @category.decorations.any? %>
      También disponible en las decoraciones:
    <% end %>
  </p>
<% end %>
<% if @category.decorations.any? %>
  <ul class="inline-list">
    <% @category.decorations.each do |decoration| %>
      <li><%= link_to_decoration decoration %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_format @product.description, :class => "description" %>

<p><%= link_to "Volver a #{@category.name}", category_products_path(@category, anchor: @product.to_param), class: "button radius expand" %></p>
