<% title "Crear cueneta" %>

<h2>Crear cuenta</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="large-12 columns <%= "error" if resource.errors[:email].any? %>">
      <%= f.label :email %>
      <%= f.email_field :email %>
      <% if resource.errors[:email].any? %>
        <small class="error"><%= resource.errors[:email].to_sentence %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns <%= "error" if resource.errors[:password].any? %>">
      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>
      <% if resource.errors[:password].any? %>
        <small class="error"><%= resource.errors[:password].to_sentence %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns <%= "error" if resource.errors[:password_confirmation].any? %>">
      <%= f.label :password_confirmation, "Confirmación de contraseña" %>
      <%= f.password_field :password_confirmation %>
      <% if resource.errors[:password_confirmation].any? %>
        <small class="error"><%= resource.errors[:password_confirmation].to_sentence %></small>
      <% end %>
    </div>
  </div>

  <%= f.submit "Crear cuenta", class: "button radius" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
