<div class="item-box">
  <p><%= image_tag category.picture_url(picture_version), :class => "alignleft" %></p>
  <h2><%= link_to category.name, category_products_path(category) %></h2>
  <%= simple_format category.description %>
  <% if admin_signed_in? %>
    <p>
      <%= link_to "Editar", edit_category_path(category) %> |
      <%= link_to "Eliminar", category, :method => :delete, :confirm => "¿Estás seguro?" %>
    </p>
  <% end %>
</div>
