<%= form_for @category, :html => { :multipart => true } do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% { es: "español", en: "inglés", fr: "francés" }.each do |k, v| %>
    <fieldset class="<%= k %>">
      <legend><%= v %></legend>
      <div class="field">
        <%= f.label "#{k}_name", "Nombre" %><br />
        <%= f.text_field "#{k}_name" %>
      </div>
      <div class="field">
        <%= f.label "#{k}_description", "Descripción" %><br />
        <%= f.text_area "#{k}_description" %>
      </div>
    </fieldset>
  <% end %>

  <div class="field">
    <%= f.label :picture, "Foto" %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", data: { disable_with: "Guardando..." } %>
  </div>
<% end %>
