<% title "Catálogo" %>

<div id="box6" class="box-style">

  <% if Product.new_arrivals.any? %>
    <div class="title">
      <h2><span>Categorías destacadas</span></h2>
    </div>

    <div class="content">
      <p>A continuación encontrará un listado de las categorías más solicitadas</p>
    </div>

    <div id="new_arrivals" class="item-box" do %>
      <h2><%= link_to "Últimas novedades", new_arrivals_path %></h2>
      <p><%= link_to(
        image_tag(Product.new_arrivals.first.picture_url(:small), :class => "alignleft", :alt => "Novedades"),
        new_arrivals_path
      ) %></p>
      <p>Esté atento a las últimas novedades añadidas a la web.</p>
    </div>
  <% end %>

  <div class="title">
    <h2><span>Otras categorías</span></h2>
  </div>

  <div class="content">
    <p>Actualmente disponemos de <%= Product.accessible_by(current_ability).count %> productos, clasificados en <%= Category.count %> categorías.</p>
    <p>Seleccione una de las siguientes categorías para ver un listado de sus productos</p>
  </div>

  <%= paginate @categories %>

  <%= render @categories, :picture_version => :small %>

  <%= paginate @categories %>

</div>

<% if can? :manage, :categories %>
  <div class="clearfix"></div>
  <div class="content">
    <p>
      <%= link_to 'Añadir otra categoría', new_category_path %>
    </p>
  </div>
<% end %>
