<% title "Catálogo" %>

<div id="box6" class="box-style">

  <% cache [ I18n.locale, new_arrivals_cache_key ] do %>
  <% if Product.new_arrivals.any? %>
    <div class="title" data-generated-at="<%= Time.current.to_s(:db) %>">
      <h2><span>Categorías destacadas</span></h2>
    </div>

    <div class="content">
      <p>A continuación encontrará un listado de las categorías más solicitadas</p>
    </div>

    <div id="new_arrivals" class="item-box" do %>
      <h2><%= link_to "Últimas novedades", new_arrivals_products_path %></h2>
      <p><%= link_to(
        image_tag(Product.new_arrivals.first.picture_url(:small), :class => "alignleft", :alt => "Novedades"),
        new_arrivals_products_path
      ) %></p>
      <p>Esté atento a las últimas novedades añadidas a la web.</p>
    </div>
  <% end %>
  <% end %>

  <% cache [ I18n.locale, all_categories_cache_key ] do %>
  <div class="title" data-generated-at="<%= Time.current.to_s(:db) %>">
    <h2><span>Todas las categorías</span></h2>
  </div>

  <div class="content">
    <p>Actualmente disponemos de <%= Product.count %> productos, clasificados en <%= Category.count %> categorías.</p>
    <p>Seleccione una de las siguientes categorías para ver un listado de sus productos</p>
  </div>

  <%= paginate @categories %>

  <% @categories.each_slice(2) do |category1, category2| %>
    <%= render "two_columns", :category1 => category1, :category2 => category2 %>
  <% end %>

  <%= paginate @categories %>
  <% end %>

</div>

<% if current_user_is_admin? %>
  <div class="clearfix"></div>
  <div class="content">
    <p>
      <%= link_to 'Añadir otra categoría', new_category_path %>
    </p>
  </div>
<% end %>
