<%= form_for [@category, @product], :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>Se han producido <%= @product.errors.count %> error(es) al intentar guardar este producto:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% { es: "español", en: "inglés", fr: "francés" }.each do |k, v| %>
    <fieldset class="<%= k %>">
      <legend><%= v %></legend>
      <div class="field">
        <%= f.label "#{k}_name", "Nombre" %><br />
        <%= f.text_field "#{k}_name" %>
      </div>
      <div class="field">
        <%= f.label "#{k}_description", "Descripción" %><br />
        <%= f.text_area "#{k}_description" %>
      </div>
    </fieldset>
  <% end %>
  <div class="field">
    <%= f.check_box :new_arrival %>
    <%= f.label     :new_arrival, "¿Novedad?" %>
  </div>
  <div class="field">
    <%= f.label :decoration_code, "Decoración de la foto" %><br />
    <%= f.collection_select :decoration_code, Decoration.all_with_tag(@category.decoration_tag), :code, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :picture, "Foto" %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", data: { disable_with: "Guardando..." } %>
  </div>
<% end %>
