<li>
  <%= link_to image_tag(product.picture.thumb.url, :alt => product.name), product.picture.url, :class => "thumb", :title => product.name, :name => product.to_param %>
  <div class="caption">
    <div class="download">
      <%= link_to "Descargar Original", product.picture.url %>
    </div>
    <div class="image-title"><%= product.name %></div>
    <div class="image-desc">
      <%= simple_format product.description %>
        <% if can? :manage, :products %>
          <p>
            <%= link_to "Editar", edit_category_product_path(product.category, product) %> |
            <%= link_to "Eliminar", [product.category, product], :method => :delete, :confirm => "¿Estás seguro?" %>
          </p>
        <% end %>
    </div>
  </div>
</li>
