<%= div_for product, :class => "item-box hproduct" do %>
  <h2><%= link_to_unless_current product.name, [product.category, product], :class => "fn" %></h2>
  <p><%= image_tag product.picture_url(picture_version), :class => "alignleft photo", :alt => product.name %></p>
  <p>En la categoría de <span class="category">product.category.name</span></p>
  <%= simple_format product.description, :class => "description" %>
  <% if admin_signed_in? %>
    <p>
      <%= link_to "Editar", edit_category_product_path(product.category, product) %> |
      <%= link_to "Eliminar", [product.category, product], :method => :delete, :confirm => "¿Estás seguro?" %>
    </p>
  <% end %>
  <div class="details">
    <p class="left">$249<sup>99</sup></p>
    <p class="right"><a href="#" class="addcart">Add To Cart</a></p>
  </div>
<% end %>
