<%= content_tag_for :li, product, :class => "hproduct" do %>
  <%= link_to image_tag(product.picture_url(:thumb), :alt => product.name, :class => "photo"), product.picture_url, :class => "thumb", :title => product.name, :name => product.to_param %>
  <div class="caption">
    <div class="download">
      <%= link_to "Descargar Original", product.picture_url %>
    </div>
    <div class="image-title fn"><%= product.name %></div>
    <div class="image-desc">
      <p>En la categoría de <span class="category"><%= product.category.name %></span></p>
      <% if product.category.decorations.any? %>
        <p>
        También disponible en estas decoraciones:
        <%= product.category.decorations.map { |decoration| link_to(decoration.name, search_products_path(:decoration_code => decoration.code), :style => "text-decoration: underline;") }.to_sentence.html_safe %>
        </p>
      <% end %>
      <%= simple_format product.description, :class => "description" %>
      <% if can? :manage, :products %>
        <p>
          <%= link_to "Editar", edit_category_product_path(product.category, product) %> |
          <%= link_to "Eliminar", [product.category, product], :method => :delete, :confirm => "¿Estás seguro?" %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
