<%= content_tag_for :li, product, :class => "hproduct" do %>
  <%= link_to image_tag(product.picture_url(:thumb), :alt => product.name, :class => "photo"), product.picture_url, :class => "thumb", :title => product.name, :name => product.to_param %>
  <div class="caption">
    <div class="download">
      <%= link_to "Descargar Original", product.picture_url %>
    </div>
    <div class="image-title fn"><%= link_to product.name, [product.category, product] %></div>
    <div class="image-desc">
      <% if product.decoration.name.present? %>
        <p>
          <span style="font-weight: bold;">La decoración de la foto es <%= link_to_decoration product.decoration %>.</span>
          También disponible en las decoraciones:<br/>
          <%= safe_join product.category.decorations.map { |decoration| link_to_decoration decoration, :style => "text-decoration: underline; display: block; width: 150px; float: left;" } %>
        </p>
      <% end %>
      <div class="clearfix" style="padding-top: 20px">
        <%= simple_format product.description, :class => "description" %>
      </div>
      <% if can? :manage, :products %>
        <p>
          <%= link_to "Editar", edit_category_product_path(product.category, product) %> |
          <%= link_to "Eliminar", [product.category, product], :method => :delete, :confirm => "¿Estás seguro?" %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
