<% title @category ? "Catálogo de #{@category.name}" : "Resultado de la búsqueda" %>

<div id="box6" class="box-style">

  <div class="title">
    <h2><span>
      <% if @category %>
        Productos en la categoría <%= @category.name %>
      <% else %>
        Resultado de la búsqueda: <%= params[:q].inspect %>
      <% end %>
    </span></h2>
  </div>

  <div class="content">
    <p>
      Se han encontrado <%= @products.total_count %> productos
      <% if @category %>
        en la categoría <%= @category.name %>
      <% else %>
        que coincidan con la búsqueda <%= params[:q].inspect %>
      <% end %>
    </p>
  </div>

  <%= paginate @products %>

  <%= render @products, :picture_version => :thumb %>

  <%= paginate @products %>

  <% unless @products.any? %>
    <div class="content">
      <p>
        Lo sentimos, no se ha encontrado ningún producto
        <% if @category %>
          en la categoría <%= @category.name %>
        <% else %>
          para la búsqueda <%= params[:q].inspect %>
        <% end %>
      </p>
    </div>
  <% end %>

</div>

<% if admin_signed_in? %>
  <% if @category %>
    <div class="clearfix"></div>
    <div class="content">
      <p>
        <%= link_to 'Añadir otro producto a esta categoría', new_category_product_path(@category) %>
      </p>
    </div>
  <% end %>
<% end %>
