<% title @category ? @category.name : params[:q] ? "Resultado de la búsqueda" : "Últimas novedades" %>
<% description @category ? @category.description : params[:q] ? "Productos que coinciden con la búsqueda #{params[:q].inspect}" : "Últimas novedades" %>

<div id="box6" class="box-style">

<div class="title">
  <h2><span>
    <%= link_to "Catálogo", categories_path %> &rsaquo;
    <% if @category %>
      Productos en la categoría <%= @category.name %>
    <% elsif params[:q] %>
      Resultado de la búsqueda: <%= params[:q].inspect %>
    <% else %>
      Últimas novedades
    <% end %>
  </span></h2>
</div>

<% if @products.any? %>

  <div id="gallery" class="galleriffic">
    <div id="controls" class="controls"></div>
    <div class="slideshow-container">
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
    </div>
    <div id="caption" class="caption-container"></div>
  </div>
  <div id="thumbs" class="navigation">
    <ul class="thumbs noscript">
      <%= render @products %>
    </ul>
  </div>
  <div style="clear: both;"></div>

<% else %>

  <div class="content">
    <p>
      Lo sentimos, no se ha encontrado ningún producto
      <% if @category %>
        en la categoría <%= @category.name %>
      <% elsif params[:q] %>
        para la búsqueda <%= params[:q].inspect %>
      <% else %>
        nuevo
      <% end %>
    </p>
  </div>

<% end %>

<% if can? :manage, :products %>
  <% if @category %>
    <div class="content">
      <p>
        <%= link_to 'Añadir otro producto a esta categoría', new_category_product_path(@category) %>
      </p>
    </div>
  <% end %>
<% end %>

</div>
