<% title       products_index_title       @category, @decoration, params[:q].presence %>
<% description products_index_description @category, @decoration, params[:q].presence %>

<div id="box6" class="box-style">

<div class="title">
  <h2><span>
    <%= link_to "Catálogo", categories_path %> &rsaquo;
    <%= products_index_title(@category, @decoration, params[:q].presence) %>
  </span></h2>
</div>

<% if @products.any? %>

  <div id="gallery" class="galleriffic">
    <div id="controls" class="controls"></div>
    <div class="slideshow-container">
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
    </div>
    <div id="caption" class="caption-container"></div>
  </div>
  <div id="thumbs" class="navigation">
    <ul class="thumbs noscript">
      <%= render @products %>
    </ul>
  </div>
  <div class="clearfix"></div>

<% else %>

  <div class="content">
    <p><%= products_index_nothing_found @category, @decoration, params[:q].presence %></p>
    <% unless can? :new_arrivals, :products %>
      <p>Sólo los usuarios con una cuenta de cliente tienen acceso a las <%= link_to "últimas novedades", new_arrivals_path %>. Si ya tiene una cuenta de cliente, por favor <%= link_to "inicie sesión", new_user_session_path %>. De lo contrario, <%= link_to "cree una cuenta", new_user_registration_path %> y <%= link_to "contacte con nosotros", new_contact_path %></p>
    <% end %>
  </div>

<% end %>

<% if can? :manage, :products %>
  <% if @category %>
    <div class="content">
      <p>
        <%= link_to 'Añadir otro producto a esta categoría', new_category_product_path(@category) %>
      </p>
    </div>
  <% end %>
<% end %>

</div>
