<% title @product.name %>
<% description @product.description %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>
      <%= link_to "Catálogo", categories_path %> &rsaquo;
      <%= link_to @product.category.name, category_products_path(@product.category) %> &rsaquo;
      <%= @product.name %>
    </span></h2>
  </div>

  <div class="content">

    <%= div_for @product, :class => "hproduct" do %>

      <%= image_tag @product.picture_url %>
      <div class="image-desc">
        <p>
          <strong class="image-title fn"><%= @product.name %></strong>
        </p>
        <p>
          <% if @product.decoration.exists? %>
            <strong>La decoración de la foto es <%= link_to_decoration @product.decoration %>.</strong>
          <% end %>
          <% if @product.category.decorations.any? %>
            También disponible en las decoraciones:<br/>
            <%= safe_join @product.category.decorations.map { |decoration| link_to_decoration decoration, :class => "other-decoration" } %>
          <% end %>
        </p>
        <div class="clearfix description-wrapper">
          <%= simple_format @product.description, :class => "description" %>
        </div>

        <% if current_user_is_admin? %>
          <p>
            <%= link_to "Editar", edit_category_product_path(@product.category, @product) %> |
            <%= link_to "Eliminar", [@product.category, @product], method: :delete, data: { confirm: "¿Estás seguro?" } %>
          </p>
        <% end %>
      </div>

    <% end %>

  </div>

</div>
