<%= title @product.name %>
<%= description @product.description %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>
      <%= link_to "Catálogo", categories_path %> &rsaquo;
      <%= link_to @product.category.name, category_products_path(@product.category) %> &rsaquo;
      <%= @product.name %>
    </span></h2>
  </div>

  <div class="content">

    <%= div_for @product do %>

      <%= image_tag @product.picture_url %>
      <% if @product.decoration.name.present? %>
        <p>
          <span style="font-weight: bold;">La decoración de la foto es <%= link_to(@product.decoration.name, category_products_path(@product.category, :decoration_code => @product.decoration.code)) %>.</span>
          También disponible en las decoraciones:<br/>
          <%= @product.category.decorations.map { |decoration| link_to(decoration.name, category_products_path(@product.category, :decoration_code => decoration.code), :style => "text-decoration: underline; display: block; width: 150px; float: left;") }.join("").html_safe %>
        </p>
      <% end %>
      <div class="clearfix" style="padding-top: 20px">
        <%= simple_format @product.description %>
      </div>

      <% if can? :manage, :products %>
        <p>
          <%= link_to "Editar", edit_category_product_path(@product.category, @product) %> |
          <%= link_to "Eliminar", [@product.category, @product], :method => :delete, :confirm => "¿Estás seguro?" %>
        </p>
      <% end %>

    <% end %>

  </div>

</div>
