<!DOCTYPE html>
<html>
<head>
  <title>Cerámica Padilla Padilla<%= " - #{yield(:title)}" if content_for?(:title) %></title>
  <meta name="keywords" content="" />
  <% if content_for?(:description) %><meta name="description" content="<%= yield(:description) %>" /><% end %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="<%= wrapper_class %>">
  <div id="wrapper-bgbtm">

<%= render "shared/header" %>
<%= render "shared/menu" %>

    <div id="page" class="container">

    <% flash.each do |k, v| %>
      <div class="content <%= k %>"><%= v %></div>
    <% end %>

      <div id="content">

<%= yield %>

      </div>

<% unless wrapper_class == "single" %>
  <%= render "shared/sidebar" %>
<% end %>

    </div>

<%= render "shared/footer" %>

  </div>
</div>

</body>
</html>
